.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 130px;
}

.nav-items{
    padding: 20px;
}

.nav-items > ul{
    font-size: 19px;
    display: flex;
    list-style-type: none;
    padding: 0px 20px;
}
.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    
}

.res-card{
    margin: 4px;
    padding: 5px;
    width: 200px;
  background-color: blanchedalmond;
    
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.search{
    padding: 10px;
}

.res-logo{
   
    width: 100%;
}

.filter-btn{
    margin: 12px;
    cursor: pointer;
}
.shimmer-conatiner{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    padding: auto;
    margin: 4px;
    width: 200px;
    height: 400px;
    background-color:blanchedalmond;
    flex-wrap: wrap;
}
.subdiv{
    height: 50%;
    width: 100%;
    background-color:rgb(254, 224, 178);
}

.login-btn{
    padding: 0 20px ;
    cursor: pointer;
}

.filter{
    display: flex;
 justify-content: space-between;
}





.user-card {
    padding: 10px;
    border: 1px solid black;
}


/* //res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,2_508,h_320,c_fill/xqwpugnsaf18te7zvtv */